@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

@mixin box-shadow($props...) {
    -webkit-box-shadow: $props;
    -moz-box-shadow: $props;
    box-shadow: $props;
}

$borderRadius: 1px;
$offset: 150%;
$inputHeight: 63px;
$transitionEasing: cubic-bezier(.36, 1, .62, .98);

.search {
    overflow: auto;
    position: relative;
    margin: 100px auto 0;
    width: 450px;
    padding: 30px;
    background: rgba(255, 255, 255, .13);
    border-radius: 2 * $borderRadius;
    color: #fff;
    margin-bottom: 100px;
    @include box-shadow(0px 0px 16px 9px rgba(0, 0, 0, 0.07));

    .textInput {
        font-size: 22px;
        font-weight: 400;
    }

    .label {
        font-weight: bolder;
        width: 100px;
    }

    p {
        font-style: italic;
        font-weight: bolder;
        margin-bottom: 7px;
        margin-top: 15px;
    }

    .input {
        margin-right: 15px;
    }

    h2 {
        text-align: center;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .flight-options-segment {
        margin-left: 20px;
        margin-top: 0px;
    }



    .one-way-toggle {
        @import url(https://fonts.googleapis.com/css?family=Montserrat);

        $bg-color: #FFFFFF;
        $toggle-bg-color: #4281A4;
        $toggle-nub-color: #FF686B;
        $font-color: #4FBCA1;

        body {
            display: flex;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: $bg-color;
            font-family: Montserrat;
        }

        margin-top: 20px;
        margin-left: 70px;

        input[type="checkbox"] {
            display: none;
        }

        label {
            color: $font-color;
            position: relative;
            font-size: larger;
        }

        input[type="checkbox"]+label::before {
            content: ' ';
            display: block;
            height: 18px;
            width: 45px;
            border: 1px solid $toggle-bg-color;
            border-radius: 9px;
            position: absolute;
            top: 0px;
            left: -65px;
            background: $toggle-bg-color;
        }

        input[type="checkbox"]+label::after {
            content: ' ';
            display: block;
            height: 30px;
            width: 30px;
            border: 1px solid $toggle-nub-color;
            border-radius: 50%;
            position: absolute;
            top: -6px;
            left: -75px;
            background: $toggle-nub-color;
            transition: all 0.3s ease-in;
        }

        input[type="checkbox"]:checked+label::after {
            left: -40px;
            transition: all 0.3s ease-in;
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .loader {
        margin-left: 20px;
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid red;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
    }
}